*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-family: 'Assistant', sans-serif;
}
.wrapper{
    display:flex;
    flex-direction: column;
}
/*nav bar css starts*/
.nav-div{
    height:100px;
}
.nav-container{
    display:flex;
    justify-content: flex-end;
    position: fixed;
    top:10;
    left:0;
    background-color: #1EBEA5;
    width:100%;
}
.nav-container a{
    padding:35px 30px;
    color:white;
    text-decoration: none;
    font-size:13px;
    text-align: center;
    font-weight:normal;
    font-family: 'Yantramanav', sans-serif;
}
.logo{
    font-weight:bold;
    margin-right:30%;
    padding:20px;
    text-align: center;
}
#watsapp-link{
    display:inline-block;
    font-size:20px;
    position:absolute;
    margin:5px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: normal;
}
.watsapp-image{
    width:30px;
    height:32px;
}
.clearfix{
    content:"";
    display:block;
    clear:both;
}
.EN{
    padding-left:5px;
    padding-right:5px;
}
#toggle{
    display:none;
}
.togglearea{
    display:flex;
    justify-content: flex-end;
    background-color: #1EBEA5;
    padding:10px;
}
.togglearea label{
    height:45px;
    width:45px;
    cursor :pointer;
    border-radius:6px;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.togglearea label span {
    background-color: white;
    height:3px;
    width:70%;
    margin:2px 0px;
}
.togglearea{
    display: none;
}
/*second starts*/
.respons-whatsapp{
    display:none;
}
.second-main{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.google-play{
    display:none;
}
.image-div2{
    display:none;
}
.info{
    margin:20px;
    box-sizing:border-box;
}
#first-para{
    font-size:30px;
    margin-top:90px;
    margin-bottom:10px;
}
#second-para{
    font-family: 'Yantramanav', sans-serif;
    font-size:14px;
    color:rgb(63, 58, 58);
}
.color-gray{
    color:rgba(140,140,140,0.5);
    font-weight:bold;
    font-size:14px;
}
.app-list{
    list-style-type:none;
    padding-left:0px;
    font-weight: bold;
}
.app-list a{
    text-decoration: none;
    color:#1EBEA5;
}
.app-span{
    padding:10px;
    display:inline-block;
}
.second-app-span{
    margin:10px;
}
/*third main starts*/
.third-main{
    display:flex;
    justify-content: center;
}
.business{
    background-color: #D0E9EA;
    margin:10px;
    text-align: center;
    flex:2;
}
#business-heading{
    font-size:25px;
    margin-top:70px;
    margin-bottom:0px;
}
.business-links{
    text-decoration: none;
    color:	#26cfd4;
}
#business-para{
    margin-bottom:37px;
    font-size:15px;
    font-weight: bold;
}
.mobile-image{
    align-self: center;
}
.encryption{
    background-color: #EDF8F5;
    margin:10px;
    text-align: center;
    flex:2;
}
.encrpy-para{
    font-size:14px;
    font-weight:bold;
}
.end-to-end-para{
    font-size:12px;
    font-weight:bold;
    color:gray;
}
#security{
    font-size:25px;
    margin-top:0px;
}
.iframe{
    margin-top:50px;
    width:250px;
    height:250px;
}
/*button*/
.main-button{
    display:flex;
    justify-content: center;
    padding:6vw;
}
.button{
    border:2px solid #1EBEA5;
    border-radius : 50px;
    text-align: center;
    padding:15px 30px;
}
.button a{
    color:#1EBEA5;
    text-decoration: none;
    position:relative;
    font-weight:bold;
}
/*footer*/
.footer-main-div{
    display:flex;
    padding:30px;
    background-color: #273443;
    justify-content: center;
}
.footer-main-div ul{
    list-style-type: none;
    margin-right:120px;
}
.footer-main-div ul li{
    padding:2px;
    font-size:13px;
}
.footer-main-div ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.first-li{
    color:gray;
    font-weight: bold;
    margin-bottom:10px;
    font-size:12px;
}
.footer-second-div{
    display:flex;
    background-color: #272C43;
    padding:10px;
}
.whatsapp-inc{
    display:inline-block;
    color:gray;
    font-weight:bold;
    margin:0 15%;
}
.footer-second-div a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size:15px;
}
.footer-first{
    display:flex;
}
.footer-second{
    display:flex;
}
@media screen and (max-width:1058px){
    #watsapp-link{
        display:none;
    }
    .watsapp-image{
        margin-left:80%;
    }
    .nav-container a{
        padding:30px 20px;
    }
    .fa-caret-down{
        display:none;
    }
    #EN{
        display: none;
    } 
} 
@media screen and (max-width: 776px) {
    header{
        background-color: #1EBEA5;
    }
    #watsapp-link{
        display:none;
    }
    .respons-whatsapp{
        margin-left:50%;
        display:block;
        height:70px;
        width:70px;
    }
    .watsapp-image{
        margin:0px;
        position:absolute;
        left:2%;
        top:2%;
        height:40px;
        width:50px;
    }
    .response-div{
        padding-bottom:15px;
        background-color: #1EBEA5;
        border-bottom: 1px solid white;
        height:150px;
    }
    .nav-container{
        flex-direction:column;
        display:none;
        position:absolute;
    }
    .nav-container a{
        text-align:left;
        padding:9px;
    }
    .dropdown a{
        border:1px solid black;
        position:absolute;
        left:0;
    }
    .nav-links{
        padding:15px;
        font-size:15px;
        border-bottom:1px solid rgb(228, 210, 210);
    }
    #toggle:checked + .nav-container{
        display:flex;
    }
    .togglearea{
        display: flex;
    }
    .wrapper{
        padding:0px;
        margin:0px;
    }
    .dropdown a{
        padding:0px;
        margin-left:40%;
    }
}
@media screen and (max-width: 776px) {
    .second-main{
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
    .second-main .info{
        align-self: center;
        background-color: #1EBEA5; 
        margin:0;
        width:100%;
        height:400px;
    }
    .info ul{
        display:none;
    }
    .second-main .info p{
        color:white;
        text-align: center;
    }
    #second-para{
        color:white;
        text-align: center;
        font-size: 20px;
    }
    .google-play{
        display:block;
        width:150px;
        height:50px;
        margin:10px auto;
    }
    .color-gray{
        display:none;
    }
    .second-main .image-div{
        display:none;
    }
    .second-main .image-div2{
        display:block;
        margin:0;
        width:100%;
        background-color: #1EBEA5;
        text-align: center;
    }
    .third-main{
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
    .third-main .business{
        align-self: center;
        margin:0;
        width:100%;
    }
    .third-main .encryption{
        align-self: center;
        margin:0;
        width:100%;        
    }
    .footer-second-div{
        display:flex;
        flex-direction:column;
    }
    .footer-main-div ul li{
        font-size: 15px;
    }
    .footer-main-div ul li a{
        font-weight: bold;
    }
    .whatsapp-inc{
        margin:5px 0;
    }
    .footer-first{
        display:flex;
        flex-direction: column;
    }
    .footer-second{
        display:flex;
        flex-direction: column;
    }
}